    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  width: 100%;
  font-family: "Poppins", Sans-Serif;
}
::selection {
  color: white;
  background: black;
}
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: rgba(30,175,238,0.3);
  backdrop-filter: blur(2px);
  z-index: 9999;
}
.img-nav {
  width: 30px;
  margin-inline: 5px;
}
#root {
}
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  margin: 10px;
  margin-top: 10%;
  gap: 7px;
}

.qr-img {
  width: 150px;
  height: 170px;
  position: relative;
  background: #fff;
  border: 3px solid red;
  overflow: hidden;
  box-shadow: 0 0 5px red;
  animation: borderRgb 2.5s ease infinite alternate;
}
@keyframes borderRgb {
  0% {
  border: 3px solid #bed946;
  }
  40% {
  border: 3px solid #46d9cc;
  }
  60% {
  border: 3px solid #d94668;
  }
  80% {
  border: 3px solid #ff3434;
  }
}
.con-style {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  gap: 10px;
}
.con-style-input {
  width: 100%;
  flex-basis: 1;
}
.input-text {
  padding-block: 10px;
  padding-inline: 5px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid #34fff0;
  color: #fff;
  margin: 0;
}
.input-style-qr {
  padding-block: 10px;
  padding-inline: 5px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid #34fff0;
  color: #fff;
  width: 100%;
  margin: 0;
}
#colorBorderQr, #colorShadowQr {
  height: 43px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#rangeOpacity {
  background: white;
  color: black;
  accent-color: #34fff0;
}
.input-text::placeholder {
  font-size: 1em;
}
.label-input {
  margin: 0;
  white-space: nowrap;
}
.con-btn {
  gap: 10px;
}
.btn-submit:active {
  transform: scale(.9);
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
  color: #fff;
  font-weight: 600;
  padding-block: 5px;
  user-select: none;
  transition: all .4s ease;
}
.con-labelqr {
  width: 100%;
}
.label-qr {
  font-family: "Poppins", Sans-Serif;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: .7em;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  color: rgb(87,87,87);
}
.label-empty {
  font-size: .7em;
  display: flex;
  opacity: 0;
  margin: 0;
}
.label-title {
  border-bottom: 1px solid white;
}
.btn-download {
  user-select: none;
}
footer {
  width: 100%;
  height: 20vh;
  background: transparent;
}
.cpright {
  position: absolute;
  bottom: 0;
  color: #606060;
  font-size: .8em;
}